---
import Navbar from '../components/Navbar.solid.jsx';
import "../styles/global.css";
export interface Props {
	title: string;
	showNavbar?: boolean;
}

const { title , showNavbar = true } = Astro.props;

const user = Astro.locals?.authData?.user;
const isLoggedIn = Astro.locals?.authData?.loggedIn || false;
---

<!doctype html>
<html lang="zh-Hant">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="WorkNow - 彈性打工即時媒合平台" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="font-sans text-gray-800 bg-white m-0 p-0 min-h-screen text-base md:text-lg">
		{isLoggedIn ? (
			<div class="w-full">
				{showNavbar ? (
					<Navbar loggedIn={isLoggedIn} username={user?.employerName} employerPhotoUrl={user?.employerPhoto?.url} client:load />
				) : (
					null
				)}
			</div>
			<slot />
		) : (
			<div class="w-full">
				{showNavbar ? (
					<Navbar loggedIn={isLoggedIn} username={user?.employerName} employerPhotoUrl={user?.employerPhoto?.url} client:load />
				) : (
					null
				)}
			</div>
			<slot />
		)}
	</body>
</html>
