---
import Navbar from '../components/Navbar.solid.jsx';
export interface Props {
	title: string;
	showNavbar?: boolean;
}

// Default showNavbar to true if not provided
const { title , showNavbar = true } = Astro.props;

const user = Astro.locals.authData?.user;
const isLoggedIn = Astro.locals?.authData?.loggedIn || false;
---

<!doctype html>
<html lang="zh-Hant">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="WorkNow - 彈性打工即時媒合平台" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<style>
			:root {
				--color-primary: #007bff;
				--color-primary-dark: #0056b3;
				--color-secondary: #6c757d;
				--color-secondary-dark: #545b62;
				--color-text-dark: #333;
				--color-text-medium: #555;
				--color-background-light: #e9ecef;
				--color-background-white: #ffffff;
				--color-footer-bg: #343a40;

				--spacing-sm: 0.5rem;
				--spacing-md: 1.5rem;
				--spacing-lg: 2rem;
				--spacing-xl: 4rem;

				--font-size-h1: 2.8rem;
				--font-size-h2: 2rem;
				--font-size-p: 1.2rem;
				--font-size-base: 1rem;

				--navbar-height: 70px;
				--padding-inline: 1rem;
			}
			body {
				font-family: 'Helvetica Neue', Arial, sans-serif; /* A more modern sans-serif font */
				line-height: 1.6;
				color: var(--color-text-dark);
				margin: 0;
				padding: 0;
			}
			.container {
				max-width: 1200px; /* Max width for content */
				margin: 0 auto; /* Center the container */
				padding: 0 var(--spacing-md); /* Consistent horizontal padding */
			}
		</style>
	</head>
	<body>
		{isLoggedIn ? (
			<div>
				{showNavbar ? (
					<Navbar loggedIn={isLoggedIn} username={user?.employerName} employerPhotoUrl={user?.employerPhoto.url} client:load />
				) : (
					null
				)}
			</div>
			<slot/>
		) : (
			<div>
				{showNavbar ? (
					<Navbar loggedIn={isLoggedIn} username={user?.employerName} employerPhotoUrl={user?.employerPhoto.url} client:load />
				) : (
					null
				)}
			</div>
			<slot/>
		)}
	</body>
</html>
